@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root{
    --displaymodal: none;
    --displayspinner: none;

}

/* --- modal spinner ---*/

article.modalspinner{
    display: var(--displayspinner); 
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.485);

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinner {
    display: inline-block;
    border: 10px solid rgba(255, 255, 255, 0.199);
    border-left-color: #b255ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}


article.modal{
    display: var(--displaymodal); 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.485);

    animation-name: opacity;
    animation-duration: 0.4s;

    position: fixed; 
    align-items: center;
    justify-content: center;

}

@keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
  }

.modal-content{
    box-sizing: content-box;
    background-color: rgb(240, 240, 240);
    width: 45vw;
    height: 35vh;
    padding: 10px;

    font-size: 1em;

}

/* ----- modal header menu mobile -----*/
section.headermenu{
    height: auto;
    margin-left: auto; /*especie de justify-self?*/
    align-self: flex-start;
    border-bottom-left-radius: 10px;
}

.headermenu ul{
    display: flex;
    flex-direction: column;


}

.headermenu li{
    cursor: pointer;
    padding: 15px;
    font-size: 2em;
    border-bottom: 1.5px solid rgb(170, 170, 170);
}

.headermenu li:hover{
    background-color: rgb(231, 231, 231);
}

.headermenu li:active{
    background-color: rgb(214, 214, 214);
}


/* ----- modal messagebox -----*/

.modal-content.messagebox{
    width: 40vw;
    height: 20vh;

    padding: 2vw;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3vh;
    align-items: center;
}

.messagebox h1{
    font-size: 2em;
}

.messagebox a{
    width: 70%;
    background: linear-gradient(150deg, rgb(226, 208, 40), rgb(243, 130, 54));
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;

    font-size: 1.2em;
    color: rgb(236, 235, 235);
    text-decoration: none;
    text-align: center;
}

.messagebox a:hover{
    filter: brightness(90%);
}

.messagebox a:active{
    filter: brightness(70%);
}


/*non specific media queries*/

@media (width <= 955px) {
    .modal-content.messagebox{
        width: 60vw;
        height: 22.5vh;
    }
}

/*mobile media queries*/

@media (width <= 480px) {
    .modal-content.messagebox{
        width: 80vw;
        height: 25vh;
    }
}



/* ----- modal error -----*/
.modal-content.messagebox.error {
    height: 35vh;
}
.modal-content.messagebox.error a{
    background: linear-gradient(150deg, rgb(235, 24, 24), rgb(243, 123, 54));
}

/*non specific media queries*/

@media (width <= 955px) {
    .modal-content.messagebox.error{
        width: 60vw;
        height: 25vh;
    }
}

/*mobile media queries*/

@media (width <= 480px) {
    .modal-content.messagebox.error{
        width: 80vw;
        height: 30vh;
    }
}


/* ----- modal form -----*/
.modal-content.article-form {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    
}

.modal-content.article-form form {
    row-gap: 20px;
}

.modal-content.article-form form input{
    background: rgb(241, 241, 241);
}

/*non specific media queries*/

@media (width <= 955px) {

    }


/*mobile media queries*/

@media (width <= 480px) {

}





/* ----- non specific media queries -----*/

@media (width <= 955px) {
    .modal-content{
        width: 70vw;
        height: 40vh;
    }
}



/* ----- mobile media queries -----*/

@media (width <= 480px) {
    .modal-content{
        width: 70vw;
        height: 40vh;
    }
}











/*----------------- rate prestado por ahí con estrellitas ------------------*/
.rating {
    border: none;
    float: left;
  }
  
  .rating > label {
    color: #90A0A3;
    float: right;
  }
  
  .rating > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #F79426;
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    color: #FECE31;
  }


  section.messagebox.rate {
    padding: 30px 35px;
    height: auto;
    width: auto;
  }