table{   
    margin: 20px 0;
    background-color: rgb(27, 27, 27);
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border-bottom: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    color: rgb(233, 233, 233);
  }

th{
    font-size: 0.9em;
}
td{
    font-size: 0.7em;
}

tbody tr:hover {
    background: rgb(36, 36, 36);
  }

tbody tr td a img{
    height: 30px;
    margin-left: 10px;
    filter: invert(100%);
}

tbody tr td a img:hover{
    
    filter: invert(60%);

}

@media (width <= 480px) {
    th{
       font-size: 0.7em;

    }
}